<div class="private-form-wrapper">
    <!-- <div class="sign-card"> -->
    <h2 class="detail-form-title">Activity Insert Form</h2>
    <form class="item-create" [formGroup]="form" (ngSubmit)="onSubmit()">
        <div class="form-row-one-item-start">
            <div class="activityTitle">
                <label for="activityTitle">Activity title: *</label>
                <input class="activity-create" type="text" placeholder="activity title" id="activityTitle"
                    formControlName="activityTitle" required>
                <div *ngIf="f.activityTitle.invalid && (f.activityTitle.dirty || f.activityTitle.touched)" class="activity-input-error">
                    activity title cannot be empty
                </div>
            </div>
        </div>
        <div class="form-row-one-item-start">
            <div>
                <label for="activityDescription">Activity description:</label>
                <textarea placeholder="activity description" id="activityDescription"
                    formControlName="activityDescription"></textarea>
            </div>
        </div>
        <div class="form-row-more-items-center"> 
            <div>
                <label for="activityStatus">Status: *</label>
                <select id="activityStatus" formControlName="activityStatus">
                    <option *ngFor="let item of ActivityStatusEnum" value="{{item}}">{{item}}</option>
                </select>
            </div>
            <div>
                <label for="activityPriority">Priority: *</label>
                <select id="activityPriority" formControlName="activityPriority">
                    <option *ngFor="let item of ActivityPriorityEnum" value="{{item}}">{{item}}</option>
                </select>
            </div>
            <div>
                <label for="activityCategory">Category:</label>
                <input type="text" placeholder="activity category" id="activityCategory" formControlName="activityCategory">
            </div>
        </div>
        <div class="form-row-more-items-center">
            <div>
                <label for="activityStartDate">Start date: *</label>
                <input type="date" placeholder="start date" id="activityStartDate" formControlName="activityStartDate" required>
            </div>
            <div>
                <label for="activityStartTime">Start time:</label>
                <input type="time" placeholder="start time" id="activityStartTime" formControlName="activityStartTime">
            </div>
            <div>
                <label for="activityLengthTotal">Length total [hh:min]:</label>
                <input type="time" placeholder="length total" id="activityLengthTotal" formControlName="activityLengthTotal">
            </div>
            <div>
                <label for="activityLengthAction">Length action [hh:min]:</label>
                <input type="time" placeholder="length action" id="activityLengthAction" formControlName="activityLengthAction">
            </div>
            <div>
                <label for="activityAveragePace">Average pace [min:ss]:</label>
                <input type="time" placeholder="[min:sec]" id="activityAveragePace" formControlName="activityAveragePace">
                <!-- : -->
                <!-- <input type="number" placeholder="[sec]" id="activityAveragePaceSec" min="0" max="59" formControlName="activityAveragePaceSec"> -->
            </div>
        </div>
        <div class="form-row-more-items-center">
            <div>
                <label for="activityPlace">Place:</label>
                <input type="text" placeholder="place" id="activityPlace" formControlName="activityPlace">
            </div>
            <div>
                <label for="activityShoes">Shoes:</label>
                <input type="text" placeholder="shoes" id="activityShoes" formControlName="activityShoes">
            </div>
            <div>
                <label for="activitySources">Sources:</label>
                <input type="text" placeholder="sources" id="activitySources" formControlName="activitySources">
            </div>
        </div>
        <div class="form-row-one-item-start">
            <div>
                <label for="activityNote">Note:</label>
                <textarea placeholder="activity note" id="activityNote" formControlName="activityNote"></textarea>
            </div>
        </div>

        <div class="form-row-button">
            <!-- <button class="private-ok" type="submit" [disabled]="!form.valid">Insert this new activity</button> -->
            <button class="private-ok insert-ok" type="submit" [disabled]="!form.valid">Insert this new activity</button>
            <button class="private-cancel" type="button" (click)="backToList()">Cancel</button>
        </div>
    </form>
</div>