h2.list-form-title {
    // background-color: brown;
    font-size: x-large;
    margin-top: 4vh;
    margin-bottom: 1.5vh;
    color: mediumblue;
}

h2.detail-form-title {
    font-size: x-large;
    margin-top: 4vh;
    margin-bottom: 2.5vh;
    color: mediumblue;
}

h2.public-title {
    font-size: large;
    margin-top: 2vh;
    margin-bottom: 1.5vh;
    color: navy;
}
