<!-- <mat-toolbar color="primary">
    <mat-toolbar-row>
        <div>
            <a mat-button style="color: lightskyblue;" [routerLink]="'news'"> News </a>
        </div>
        <span class="menu-spacer"></span>
        <div>
            <mat-icon class="row-icon" aria-hidden="false" aria-label="Example home icon">minimise</mat-icon>
            <a mat-button [routerLink]="'auth/signup'"> Register </a>
            <a mat-button [routerLink]="'auth/signin'"> Login </a>
            <a mat-button [routerLink]="'auth/signout'"> Logout </a>
            <a mat-button (click)="logout()"> Logout </a>
        </div>
    </mat-toolbar-row>
</mat-toolbar> -->
<div class="left-part">
    <a [routerLink]="'news'"> Icon </a>
    <!-- <a [routerLink]="'news'"> News </a> -->
</div>
<div class="right-part">
    <a [routerLink]="'auth/signup'"> Register </a>
    <a [routerLink]="'auth/signin'"> Login </a>
    <a (click)="logout()"> Logout </a>
</div>